@page
@model LogoutModel
@{
    ViewData["Title"] = "TEDU - Đăng xuất";
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Đăng xuất - TEDU</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">TEDU</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Trang chủ</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Chính sách</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @if (Model.LogoutVm != null)
            {
                <div class="row">
                    <div class="col-sm-6">
                        <p>Bạn có muốn đăng xuất?</p>
                        <form method="post">
                            <input type="hidden" asp-for="LogoutVm.LogoutId" />
                            <fieldset>
                                <div class="form-group">
                                    <button class="btn btn-primary">Có</button>
                                </div>
                            </fieldset>
                        </form>
                    </div>
                </div>
            }
            @if (Model.LoggedOutVm != null)
            {
                <p>Bạn đã được đăng xuất</p>
                @if (Model.LoggedOutVm.PostLogoutRedirectUri != null)
                {
                    <div>
                        Nhấn <a class="PostLogoutRedirectUri" href="@Model.LoggedOutVm.PostLogoutRedirectUri">vào đây</a> để quay về ứng dụng
                        <span>@Model.LoggedOutVm.ClientName</span>.
                    </div>
                }

                @if (Model.LoggedOutVm.SignOutIframeUrl != null)
                {
                    <iframe width="0" height="0" class="signout" src="@Model.LoggedOutVm.SignOutIframeUrl"></iframe>
                }
            }
        </main>
    </div>
    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; @DateTime.Now.Year - TEDU - <a asp-area="" asp-controller="Home" asp-action="Privacy">Chính sách</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @if (Model.LoggedOutVm != null && Model.LoggedOutVm.AutomaticRedirectAfterSignOut)
    {
        <script src="~/js/signout-redirect.js"></script>
    }
</body>
</html>