@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Xác nhận đặt lại mật khẩu";
}

<h1>@ViewData["Title"]</h1>
<p>
    Mật khẩu đã được đặt lại. Bạn hãy <a asp-page="./Login">đăng nhập lại</a>.
</p>